.benefits {
  padding: var(--section-padding-y) 0 ;

  @include desktop {
    padding: 150px 0;
  }

  @include tablet {
    padding: 100px 0;
  }

  @include mobile {
    padding: 50px 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 100px;

    @include mobile {
      row-gap: 50px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__title {
    @include title;

    @include desktop {
      font-size: 40px;
    }

    @include tablet {
      font-size: 34px;
    }

    @include mobile {
      font-size: 26px;

      &::after {
        transform: translate(-50%, 25%);
      }
    }
  }

  &__list {
    display: flex;
    column-gap: 75px;

    @include desktop {
      column-gap: 60px;
    }

    @include tablet {
      column-gap: 20px;
    }

    @include mobile {
      flex-direction: column;
      row-gap: 30px;
      padding-bottom: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &-header {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;

      @include mobile {
        justify-content: flex-start;
      }
    }

    &-title {
      line-height: 1.16;
      font-family: 'RobotoCondensed Regular', sans-serif;
      font-size: 24px;
      text-align: start;

      @include tablet {
        font-size: 18px;
      }

      @include mobile {
        font-size: 16px;
      }
    }

    &-description {
      font-family: 'RobotoCondensed Light', sans-serif;
      font-size: 14px;
    }
  }

  &__content {
    display: flex;
    column-gap: 137px;

    @include tablet {
      flex-direction: column;
      row-gap: 50px;
    }

    @include mobile {
      flex-direction: column;
      row-gap: 30px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 35px;
      min-width: 346px;
    }

    &-item {
      display: flex;
      flex-direction: column;
    }

    &-header {
      display: flex;
      column-gap: 10px;
    }

    &-text {
      font-size: 24px;
      transform: translate(0, -25%);

      @include mobile {
        font-size: 16px;
      }
    }

    &-body {
      font-family: 'RobotoCondensed Light', sans-serif;
      font-size: 14px;
    }
  }

  &__description {
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }

    &-text {
      font-family: 'RobotoCondensed Light', sans-serif;
      font-size: 14px;
    }
  }
}

.title__last,
.title__mid {
  margin-top: -5px
}