.cross-button {
  @include reset-button;
  @include square(48px);

  position: relative;
  border-radius: 5px;

  &:hover {
    background-color: var(--color-accent);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 68%;
    left: 18px;
    width: 70%;
    height: 2px;
    background-color: var(--color-dark);
    border-radius: 5px;
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}