.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-inline: auto;
  background-color: var(--color-accent);

  @include desktop {
    height: 125px;
  }

  @include tablet {
    height: 100px;
  }

  @include mobile {
    height: 75px;
  }

  &__img {
    @include desktop {
      width: 55px;
      height: 58px;
    }

    @include mobile {
      width: 50px;
      height: 53px;
    }
  }
}