.gallery {
  padding: 0 0 var(--section-padding-y);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 210px;
    margin-inline: 350px;
  }

  &__title {
    @include title;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    &-img {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }

    &-button {
      @include button;
    }
  }

  &__title {
    &-list {
      display: flex;
      column-gap: 20px;
    }

    &-item {
      &:nth-child(2) {
        color: var(--color-accent);
      }
    }

    &-link {
      font-size: 24px;
      transition-duration: 0.3s;

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  &__img {

    &-item {
      overflow: hidden;
      &:hover {
        .gallery__img-img {
          transform: scale(1.2);
          transition-duration: var(--transition-duration);
        }
      }
    }

    &-list-top {
      display: grid;
      grid-template-columns: 580px 290px 250px;
      column-gap: 40px;
    }

    &-list-bottom {
      display: grid;
      grid-template-columns: 250px 290px 580px;
      column-gap: 40px;
    }
  }
}