.request {
  padding-bottom: var(--section-padding-y);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 240px;
  }

  &__title {
    @include title;
  }

  &__body {
    display: flex;
    column-gap: 30px;
    margin-inline: 360px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 230px;

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }

    &-item {
      position: relative;
      font-size: 18px;
    }

    &-input {
      width: 569px;
      padding: 10px 0;
      border: none;
      border-bottom: 1px solid #DADADA;
      color: var(--color-dark);

      &:focus {
        outline: none;
        border-bottom: 1px solid var(--color-accent);
      }

      &:focus ~ .request__form-label,
      &:valid + .request__form-label {
        top: -20px;
        transition-duration: 0.5s;
      }
    }

    &-label {
      position: absolute;
      top: 0;
      left: 0;
      color: var(--color-accent);
    }

    &-button {
      @include button;
    }
  }

  &__description {
    padding: 50px;

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 65px;
    }

    &-text {
      font-size: 24px;
    }
  }

  &__footer {
    margin-inline: auto;
  }

  &__contacts {
    &-list {
      display: flex;
      column-gap: 10px;
    }

    &-link {
      font-size: 24px;

      &:hover {
        color: var(--color-accent);
        cursor: pointer;
      }
    }
  }
}

.input__mid {
  margin-bottom: 20px;
}

.input__bottom {
  position: absolute;
  top: 110px;
}

.link__mid {
  color: var(--color-accent);
}