.submissive-peaks {
  &__inner {
    display: flex;
    column-gap: 83px;
    padding-bottom: var(--section-padding-y);
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    max-width: 860px;
    padding-top: var(--section-padding-y);
    padding-left: 360px;
  }

  &__body {
    overflow: hidden;

    &:hover {
      .submissive-peaks__img {
        transform: scale(1.1);
        transition-duration: var(--transition-duration);
      }
    }
  }

  &__title {
    @include title;
    min-width: 511px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__text {
    font-family: 'RobotoCondensed Light', sans-serif;
    font-size: 14px;
  }
}