.submissive-peaks {
  position: relative;
  padding: var(--section-padding-y) 0 350px;

  &__inner {
    display: flex;
    margin-left: 360px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    max-width: 510px;
  }

  &__title {
    @include title;
    min-width: 511px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__text {
    font-family: 'RobotoCondensed Light', sans-serif;
    font-size: 14px;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
  }
}