.video {
  padding: var(--section-padding-y) 0;
  position: relative;

  &__link {

    &-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition-duration: var(--transition-duration);

      &:hover {
        width: 85px;
        height: 98px;
      }
    }
  }
}