.video {
  padding: var(--section-padding-y) 0;

  &__img {
    position: relative;
  }

  &__link {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background: url('../img/video/play.svg') no-repeat;
      top: -350px;
      left: 500px;
      width: 100px;
      height: 100px;
    }
  }
}