body {
  font-family: var(--font-family-base), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.6px;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  @include fluid-text(72, 32);
}

h2 {
  @include fluid-text(48, 28);
}

h3 {
  @include fluid-text(36, 24);
}