$desktop-below:1919px;
$desktop-above: 1281px;
$desktop: 1280px;
$tablet: 1023px;
$mobile-above: 768px;
$mobile: 767px;

@mixin desktop-below {
  @media (max-width: $desktop-below) {
    @content;
  }
}

@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}