:root {
  --color-light: #FFFFFF;
  --color-dark: #242121;
  --color-accent: #00B2A0;
  --color-title: #01353E;

  --font-family-base: 'RobotoCondensed Regular';
  --container-width: 1080px;
  --container-padding-x: 10px;

  --section-padding-y: 200px;
  --section-padding-y-mobile: 30px;

  --transition-duration: 0.3s;
}