@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "RobotoCondensed Regular";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed Light";
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed Bold";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway SemiBold";
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-dark: #242121;
  --color-accent: #00B2A0;
  --color-title: #01353E;
  --font-family-base: "RobotoCondensed Regular";
  --container-width: 1080px;
  --container-padding-x: 10px;
  --section-padding-y: 200px;
  --transition-duration: 0.3s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-family: var(--font-family-base), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.6px;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(32px, 5vw, 72px);
}

h2 {
  font-size: clamp(28px, 3.3333333333vw, 48px);
}

h3 {
  font-size: clamp(24px, 2.5vw, 36px);
}

.header {
  position: relative;
  height: 1080px;
  background: url("../img/header/header-bg.jpg") center/cover no-repeat;
}
.header::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 69px;
  top: 80%;
  left: 50%;
  background: url("../img/header/header-icon.svg") no-repeat;
  transform: translate(-50%, 50%);
}
.header__inner {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  row-gap: 243px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 45px;
  margin: auto;
  color: var(--color-light);
  transform: translate(-4%, 0);
}
@media (max-width: 1280px) {
  .header__menu-list {
    column-gap: 30px;
    transform: translate(-8%, 0);
  }
}
@media (max-width: 767px) {
  .header__menu-list {
    display: none;
  }
}
.header__title {
  font-family: "Raleway Bold", sans-serif;
  font-size: 200px;
  text-align: center;
  color: var(--color-title);
}
@media (max-width: 1280px) {
  .header__title {
    font-size: 150px;
  }
}
@media (max-width: 1023px) {
  .header__title {
    font-size: 120px;
  }
}
@media (max-width: 767px) {
  .header__title {
    font-size: 100px;
  }
}
.header__description {
  font-size: 24px;
  text-align: center;
}
@media (max-width: 1280px) {
  .header__description {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .header__description {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .header__description {
    font-size: 16px;
  }
}
.header__link {
  position: relative;
}
@media (max-width: 1280px) {
  .header__link {
    font-size: 16px;
  }
}
.header__link:hover::after {
  width: 100%;
}
.header__link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-accent);
  transition-duration: var(--transition-duration);
}
@media (max-width: 1280px) {
  .header__logo-img {
    width: 55px;
    height: 58px;
    margin-left: 10px;
  }
}
@media (max-width: 767px) {
  .header__logo-img {
    width: 50px;
    height: 53px;
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 5px;
}
.burger-button:hover {
  background-color: var(--color-accent);
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  color: var(--color-light);
  background-color: var(--color-light);
  border-radius: 5px;
  box-shadow: 0 -8px, 0 8px;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 27px 21px;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 5px;
}
.cross-button:hover {
  background-color: var(--color-accent);
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 68%;
  left: 18px;
  width: 70%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.school {
  padding: var(--section-padding-y) 0;
}
@media (max-width: 1280px) {
  .school {
    padding: 150px 0;
  }
}
@media (max-width: 1023px) {
  .school {
    padding: 100px 0;
  }
}
@media (max-width: 767px) {
  .school {
    padding: 50px 0;
  }
}
.school__inner {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
@media (max-width: 1023px) {
  .school__inner {
    row-gap: 75px;
  }
}
.school__title {
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 48px;
  text-align: center;
  position: relative;
}
.school__title::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 85px;
  background: url("../img/logo-icon.svg") no-repeat;
  transform: translate(0, 25%);
}
@media (max-width: 1280px) {
  .school__title {
    font-size: 40px;
  }
}
@media (max-width: 1023px) {
  .school__title {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .school__title {
    font-size: 26px;
  }
  .school__title::after {
    transform: translate(-50%, 25%);
  }
}
.school__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  column-gap: 120px;
  row-gap: 30px;
}
@media (max-width: 767px) {
  .school__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}
.school__item {
  font-family: "RobotoCondensed Light", sans-serif;
  font-size: 14px;
}
.school__item:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.school__item:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.school__item:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}
.school__item:nth-child(4) {
  grid-column: 1;
  grid-row: 4;
}
.school__item:nth-child(5) {
  grid-column: 2;
  grid-row: 1;
}
.school__item:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}
.school__item:nth-child(7) {
  grid-column: 2;
  grid-row: 3;
}
.school__item:nth-child(8) {
  grid-column: 2;
  grid-row: 4;
}

.benefits {
  padding: var(--section-padding-y) 0;
}
@media (max-width: 1280px) {
  .benefits {
    padding: 150px 0;
  }
}
@media (max-width: 1023px) {
  .benefits {
    padding: 100px 0;
  }
}
@media (max-width: 767px) {
  .benefits {
    padding: 50px 0;
  }
}
.benefits__inner {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
@media (max-width: 767px) {
  .benefits__inner {
    row-gap: 50px;
  }
}
.benefits__title {
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 48px;
  text-align: center;
  position: relative;
}
.benefits__title::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 85px;
  background: url("../img/logo-icon.svg") no-repeat;
  transform: translate(0, 25%);
}
@media (max-width: 1280px) {
  .benefits__title {
    font-size: 40px;
  }
}
@media (max-width: 1023px) {
  .benefits__title {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .benefits__title {
    font-size: 26px;
  }
  .benefits__title::after {
    transform: translate(-50%, 25%);
  }
}
.benefits__list {
  display: flex;
  column-gap: 75px;
}
@media (max-width: 1280px) {
  .benefits__list {
    column-gap: 60px;
  }
}
@media (max-width: 1023px) {
  .benefits__list {
    column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .benefits__list {
    flex-direction: column;
    row-gap: 30px;
    padding-bottom: 20px;
  }
}
.benefits__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.benefits__item-header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
@media (max-width: 767px) {
  .benefits__item-header {
    justify-content: flex-start;
  }
}
.benefits__item-title {
  line-height: 1.16;
  font-family: "RobotoCondensed Regular", sans-serif;
  font-size: 24px;
  text-align: start;
}
@media (max-width: 1023px) {
  .benefits__item-title {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .benefits__item-title {
    font-size: 16px;
  }
}
.benefits__item-description {
  font-family: "RobotoCondensed Light", sans-serif;
  font-size: 14px;
}
.benefits__content {
  display: flex;
  column-gap: 137px;
}
@media (max-width: 1023px) {
  .benefits__content {
    flex-direction: column;
    row-gap: 50px;
  }
}
@media (max-width: 767px) {
  .benefits__content {
    flex-direction: column;
    row-gap: 30px;
  }
}
.benefits__content-list {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  min-width: 346px;
}
.benefits__content-item {
  display: flex;
  flex-direction: column;
}
.benefits__content-header {
  display: flex;
  column-gap: 10px;
}
.benefits__content-text {
  font-size: 24px;
  transform: translate(0, -25%);
}
@media (max-width: 767px) {
  .benefits__content-text {
    font-size: 16px;
  }
}
.benefits__content-body {
  font-family: "RobotoCondensed Light", sans-serif;
  font-size: 14px;
}
.benefits__description-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.benefits__description-text {
  font-family: "RobotoCondensed Light", sans-serif;
  font-size: 14px;
}

.title__last,
.title__mid {
  margin-top: -5px;
}

.submissive-peaks__inner {
  display: flex;
  column-gap: 83px;
  padding-bottom: var(--section-padding-y);
}
@media (max-width: 1919px) {
  .submissive-peaks__inner {
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
  }
}
@media (max-width: 1280px) {
  .submissive-peaks__inner {
    padding: 150px 0;
  }
}
@media (max-width: 1023px) {
  .submissive-peaks__inner {
    padding: 100px 0;
  }
}
@media (max-width: 767px) {
  .submissive-peaks__inner {
    padding: 50px 0;
  }
}
.submissive-peaks__header {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  max-width: 860px;
  padding: var(--section-padding-y) 0 0 360px;
}
@media (max-width: 1919px) {
  .submissive-peaks__header {
    margin-inline: auto;
    padding: 0;
  }
}
@media (max-width: 1280px) {
  .submissive-peaks__header {
    row-gap: 50px;
    padding-inline: 10px;
  }
}
.submissive-peaks__body {
  overflow: hidden;
}
@media (max-width: 1919px) {
  .submissive-peaks__body {
    display: none;
  }
}
.submissive-peaks__body:hover .submissive-peaks__img {
  transform: scale(1.1);
  transition-duration: var(--transition-duration);
}
.submissive-peaks__title {
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 48px;
  text-align: center;
  position: relative;
  min-width: 511px;
}
.submissive-peaks__title::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 85px;
  background: url("../img/logo-icon.svg") no-repeat;
  transform: translate(0, 25%);
}
@media (max-width: 1919px) {
  .submissive-peaks__title {
    min-width: 0;
  }
}
@media (max-width: 1280px) {
  .submissive-peaks__title {
    font-size: 40px;
  }
}
@media (max-width: 1023px) {
  .submissive-peaks__title {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .submissive-peaks__title {
    font-size: 26px;
  }
  .submissive-peaks__title::after {
    transform: translate(-50%, 25%);
  }
}
.submissive-peaks__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.submissive-peaks__text {
  font-family: "RobotoCondensed Light", sans-serif;
  font-size: 14px;
}

.gallery {
  padding-bottom: var(--section-padding-y);
}
@media (max-width: 1280px) {
  .gallery {
    padding-bottom: 150px;
    padding-inline: 10px;
  }
}
@media (max-width: 1023px) {
  .gallery {
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .gallery {
    padding-bottom: 50px;
  }
}
.gallery__inner {
  display: flex;
  flex-direction: column;
  row-gap: 210px;
  margin-inline: 350px;
}
@media (max-width: 1919px) {
  .gallery__inner {
    margin-inline: 0;
  }
}
@media (max-width: 1280px) {
  .gallery__inner {
    row-gap: 75px;
  }
}
.gallery__title {
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 48px;
  text-align: center;
  position: relative;
}
.gallery__title::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 85px;
  background: url("../img/logo-icon.svg") no-repeat;
  transform: translate(0, 25%);
}
@media (max-width: 1280px) {
  .gallery__title {
    font-size: 40px;
  }
}
@media (max-width: 1023px) {
  .gallery__title {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .gallery__title {
    font-size: 26px;
  }
  .gallery__title::after {
    transform: translate(-50%, 25%);
  }
}
.gallery__body {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
@media (max-width: 1919px) {
  .gallery__body {
    margin-inline: auto;
  }
}
@media (max-width: 767px) {
  .gallery__body {
    row-gap: 30px;
  }
}
.gallery__body-img {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media (max-width: 1023px) {
  .gallery__body-img {
    row-gap: 30px;
  }
}
@media (max-width: 767px) {
  .gallery__body-img {
    row-gap: 20px;
  }
}
.gallery__body-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  padding: 25px 90px;
  font-size: 24px;
  color: currentColor;
  background-color: var(--color-light);
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}
.gallery__body-button:active {
  color: var(--color-light);
  background-color: var(--color-accent);
}
@media (min-width: 1281px) {
  .gallery__body-button:hover {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
@media (max-width: 1280px) {
  .gallery__body-button {
    width: 300px;
    height: 60px;
    padding: 10px 60px;
    margin-inline: auto;
    font-size: 22px;
  }
}
@media (max-width: 1023px) {
  .gallery__body-button {
    height: 55px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .gallery__body-button {
    height: 45px;
    font-size: 18px;
  }
}
.gallery__title-list {
  display: flex;
  column-gap: 20px;
}
.gallery__title-item:nth-child(2) {
  color: var(--color-accent);
}
.gallery__title-link {
  font-size: 24px;
  transition-duration: 0.3s;
}
.gallery__title-link:hover {
  color: var(--color-accent);
}
@media (max-width: 1280px) {
  .gallery__title-link {
    font-size: 22px;
  }
}
@media (max-width: 1023px) {
  .gallery__title-link {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .gallery__title-link {
    font-size: 18px;
  }
}
.gallery__img-item {
  overflow: hidden;
}
.gallery__img-item:hover .gallery__img-img {
  transform: scale(1.2);
  transition-duration: var(--transition-duration);
}
@media (max-width: 1023px) {
  .gallery__img-img {
    height: auto;
  }
}
@media (max-width: 767px) {
  .gallery__img-img {
    height: auto;
  }
}
.gallery__img-list-top {
  display: grid;
  grid-template-columns: 580px 290px 250px;
  column-gap: 40px;
}
@media (max-width: 1280px) {
  .gallery__img-list-top {
    grid-template-columns: 580px 290px;
  }
}
@media (max-width: 1023px) {
  .gallery__img-list-top {
    display: flex;
    column-gap: 20px;
  }
}
.gallery__img-list-bottom {
  display: grid;
  grid-template-columns: 250px 290px 580px;
  column-gap: 40px;
}
@media (max-width: 1280px) {
  .gallery__img-list-bottom {
    grid-template-columns: 290px 580px;
  }
}
@media (max-width: 1023px) {
  .gallery__img-list-bottom {
    display: flex;
    column-gap: 20px;
  }
}

@media (max-width: 1280px) {
  .item__top-bottom,
  .item__bottom-top {
    display: none;
  }
}

@media (max-width: 767px) {
  .item__top-mid,
  .item__bottom-mid {
    display: none;
  }
}

.quote__inner {
  display: flex;
  flex-direction: column;
}
.quote__title {
  font-family: "RobotoCondensed Regular", sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1.11;
  text-align: center;
}
@media (max-width: 1280px) {
  .quote__title {
    font-size: 30px;
  }
}
@media (max-width: 1023px) {
  .quote__title {
    font-size: 24px;
  }
}
.quote__description {
  font-family: "RobotoCondensed Light", sans-serif;
  font-size: 14px;
  font-style: italic;
  text-align: end;
}

.video {
  padding: var(--section-padding-y) 0;
  position: relative;
}
@media (max-width: 1280px) {
  .video {
    padding: 150px 0;
  }
}
@media (max-width: 1023px) {
  .video {
    padding: 100px 0;
  }
}
@media (max-width: 767px) {
  .video {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .video__link-img {
    height: auto;
  }
}
.video__link-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-duration: var(--transition-duration);
}
@media (max-width: 1280px) {
  .video__link-icon {
    width: 65px;
    height: 78px;
  }
}
@media (max-width: 1023px) {
  .video__link-icon {
    width: 55px;
    height: 68px;
  }
}
@media (max-width: 767px) {
  .video__link-icon {
    width: 45px;
    height: 58px;
  }
}
.video__link-icon:hover {
  width: 85px;
  height: 98px;
}
@media (max-width: 1280px) {
  .video__link-icon:hover {
    width: 75px;
    height: 88px;
  }
}
@media (max-width: 1023px) {
  .video__link-icon:hover {
    width: 65px;
    height: 78px;
  }
}
@media (max-width: 1023px) {
  .video__link-icon:hover {
    width: 55px;
    height: 68px;
  }
}

.indicators {
  padding-bottom: var(--section-padding-y);
}
@media (max-width: 1280px) {
  .indicators {
    padding-bottom: 150px;
  }
}
@media (max-width: 1023px) {
  .indicators {
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .indicators {
    padding-bottom: 50px;
  }
}
.indicators__list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}
@media (max-width: 1280px) {
  .indicators__list {
    column-gap: 75px;
  }
}
@media (max-width: 1023px) {
  .indicators__list {
    column-gap: 50px;
  }
}
@media (max-width: 767px) {
  .indicators__list {
    column-gap: 30px;
  }
}
.indicators__item {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.indicators__title {
  font-family: "RobotoCondensed Bold", sans-serif;
  font-size: 64px;
  text-align: center;
}
@media (max-width: 1280px) {
  .indicators__title {
    font-size: 54px;
  }
}
@media (max-width: 1023px) {
  .indicators__title {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .indicators__title {
    font-size: 34px;
  }
}
.indicators__description {
  font-family: "RobotoCondensed Light", sans-serif;
  font-size: 14px;
  text-align: center;
}
@media (max-width: 767px) {
  .indicators__description {
    font-size: 12px;
  }
}

.blog {
  padding-bottom: 200px;
}
@media (max-width: 1280px) {
  .blog {
    padding-bottom: 150px;
  }
}
@media (max-width: 1023px) {
  .blog {
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .blog {
    padding-bottom: 50px;
  }
}
.blog__inner {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
@media (max-width: 767px) {
  .blog__inner {
    row-gap: 75px;
  }
}
.blog__title {
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 48px;
  text-align: center;
  position: relative;
}
.blog__title::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 85px;
  background: url("../img/logo-icon.svg") no-repeat;
  transform: translate(0, 25%);
}
@media (max-width: 1280px) {
  .blog__title {
    font-size: 40px;
  }
}
@media (max-width: 1023px) {
  .blog__title {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .blog__title {
    font-size: 26px;
  }
  .blog__title::after {
    transform: translate(-50%, 25%);
  }
}
.blog__body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 800px;
  background: url("../img/blog/blog-bg.jpg") center/cover no-repeat;
}
.blog__body::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color-light);
  box-shadow: -120px 0 0 0 var(--color-accent), -90px 0 0 0 var(--color-light), -60px 0 0 0 var(--color-light), -30px 0 0 0 var(--color-light), 0 0 0 0 var(--color-light), 30px 0 0 0 var(--color-light), 60px 0 0 0 var(--color-light), 90px 0 0 0 var(--color-light), 120px 0 0 0 var(--color-light), 150px 0 0 0 var(--color-light);
  transform: translate(-50%, 0);
}
.blog__body-title {
  position: absolute;
  top: 39%;
  left: 50%;
  line-height: 1.16;
  font-family: "RobotoCondensed Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: var(--color-light);
}
@media (max-width: 1280px) {
  .blog__body-title {
    font-size: 44px;
  }
}
@media (max-width: 1023px) {
  .blog__body-title {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .blog__body-title {
    line-height: 1;
    font-size: 28px;
  }
}
.blog__body-description {
  position: absolute;
  top: 54%;
  left: 50%;
  font-family: "RobotoCondensed Light", sans-serif;
  font-size: 14px;
  color: var(--color-light);
}
@media (max-width: 1280px) {
  .blog__body-description {
    top: 57%;
  }
}
@media (max-width: 1023px) {
  .blog__body-description {
    top: 58%;
  }
}
@media (max-width: 767px) {
  .blog__body-description {
    font-size: 12px;
  }
}

.team {
  padding-bottom: var(--section-padding-y);
}
@media (max-width: 1280px) {
  .team {
    padding-bottom: 150px;
  }
}
@media (max-width: 1023px) {
  .team {
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .team {
    padding-bottom: 50px;
  }
}
.team__inner {
  display: flex;
  flex-direction: column;
  row-gap: 210px;
  padding-inline: var(--container-padding-x);
}
@media (max-width: 1280px) {
  .team__inner {
    row-gap: 150px;
  }
}
@media (max-width: 1023px) {
  .team__inner {
    row-gap: 100px;
  }
}
@media (max-width: 767px) {
  .team__inner {
    row-gap: 75px;
  }
}
.team__title {
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 48px;
  text-align: center;
  position: relative;
}
.team__title::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 85px;
  background: url("../img/logo-icon.svg") no-repeat;
  transform: translate(0, 25%);
}
@media (max-width: 1280px) {
  .team__title {
    font-size: 40px;
  }
}
@media (max-width: 1023px) {
  .team__title {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .team__title {
    font-size: 26px;
  }
  .team__title::after {
    transform: translate(-50%, 25%);
  }
}
.team__list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 120px;
}
@media (max-width: 1280px) {
  .team__list {
    column-gap: 75px;
  }
}
@media (max-width: 1023px) {
  .team__list {
    column-gap: 25px;
  }
}
@media (max-width: 767px) {
  .team__list {
    flex-direction: column;
    row-gap: 30px;
  }
}
.team__item {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.team__item-img {
  overflow: hidden;
}
.team__item-img:hover .team__img {
  transform: scale(1.1);
  transition-duration: var(--transition-duration);
}
.team__item-title {
  padding-top: 25px;
  font-family: "RobotoCondensed Bold", sans-serif;
  font-size: 18px;
  text-align: center;
}
.team__item-description {
  font-family: "RobotoCondensed Regular", sans-serif;
  font-size: 14px;
  text-align: center;
}

.services {
  padding: calc(var(--section-padding-y) / 2) 0;
}
@media (max-width: 1023px) {
  .services {
    padding-inline: 10px;
  }
}
@media (max-width: 767px) {
  .services {
    padding: 50px 10px;
  }
}
.services__inner {
  display: flex;
  flex-direction: column;
  row-gap: 228px;
}
@media (max-width: 1280px) {
  .services__inner {
    row-gap: 150px;
  }
}
@media (max-width: 1023px) {
  .services__inner {
    row-gap: 100px;
  }
}
@media (max-width: 767px) {
  .services__inner {
    row-gap: 75px;
  }
}
.services__title {
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 48px;
  text-align: center;
  position: relative;
}
.services__title::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 85px;
  background: url("../img/logo-icon.svg") no-repeat;
  transform: translate(0, 25%);
}
@media (max-width: 1280px) {
  .services__title {
    font-size: 40px;
  }
}
@media (max-width: 1023px) {
  .services__title {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .services__title {
    font-size: 26px;
  }
  .services__title::after {
    transform: translate(-50%, 25%);
  }
}
.services__body {
  margin-inline: auto;
}
.services__list {
  display: flex;
  column-gap: 240px;
}
@media (max-width: 1280px) {
  .services__list {
    column-gap: 150px;
  }
}
@media (max-width: 1023px) {
  .services__list {
    column-gap: 100px;
  }
}
@media (max-width: 767px) {
  .services__list {
    flex-direction: column;
    row-gap: 30px;
  }
}
.services__item {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
@media (max-width: 1280px) {
  .services__item {
    row-gap: 50px;
  }
}
@media (max-width: 1023px) {
  .services__item {
    row-gap: 40px;
  }
}
@media (max-width: 767px) {
  .services__item {
    row-gap: 30px;
  }
}
.services__item-title {
  font-size: 36px;
  color: var(--color-title);
  text-align: center;
}
@media (max-width: 1280px) {
  .services__item-title {
    font-size: 32px;
  }
}
@media (max-width: 1023px) {
  .services__item-title {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .services__item-title {
    font-size: 24px;
  }
}
.services__item-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 767px) {
  .services__item-list {
    text-align: center;
  }
}
.services__item-item {
  font-size: 14px;
}
@media (max-width: 767px) {
  .services__item-item {
    font-size: 12px;
  }
}
.services__item-price {
  position: relative;
  font-size: 36px;
  text-align: center;
}
@media (max-width: 1280px) {
  .services__item-price {
    font-size: 32px;
  }
}
@media (max-width: 1023px) {
  .services__item-price {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .services__item-price {
    font-size: 24px;
  }
}
.services__item-price::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 65%;
  width: 9px;
  height: 22px;
  background: url("../img/services/services-icon.svg") no-repeat;
  transform: translate(0, -40%);
}
@media (max-width: 1023px) {
  .services__item-price::after {
    bottom: -10%;
  }
}
@media (max-width: 767px) {
  .services__item-price::after {
    bottom: -20%;
    left: 60%;
  }
}

.price__last::after {
  left: 68%;
}
@media (max-width: 767px) {
  .price__last::after {
    left: 62%;
    top: 50%;
  }
}

.map {
  padding: 200px;
}
@media (max-width: 1280px) {
  .map {
    padding: 150px;
  }
}
@media (max-width: 1023px) {
  .map {
    padding: 100px;
  }
}
@media (max-width: 767px) {
  .map {
    padding: 50px;
  }
}
.map__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.map__inner::after {
  position: absolute;
  content: "";
  width: 57px;
  height: 70px;
  top: 16%;
  left: 48%;
  background: url("../img/map/map-icon.svg") no-repeat;
}
@media (max-width: 767px) {
  .map__inner::after {
    display: none;
  }
}
@media (max-width: 1280px) {
  .map__img {
    height: auto;
  }
}
@media (max-width: 1023px) {
  .map__img {
    height: auto;
  }
}
@media (max-width: 767px) {
  .map__img {
    height: auto;
  }
}

.request {
  padding-bottom: var(--section-padding-y);
}
@media (max-width: 1280px) {
  .request {
    padding-bottom: 150px;
  }
}
@media (max-width: 1023px) {
  .request {
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .request {
    padding-bottom: 50px;
  }
}
.request__inner {
  display: flex;
  flex-direction: column;
  row-gap: 240px;
  padding-inline: 10px;
}
@media (max-width: 1280px) {
  .request__inner {
    row-gap: 150px;
  }
}
@media (max-width: 1023px) {
  .request__inner {
    row-gap: 100px;
  }
}
@media (max-width: 767px) {
  .request__inner {
    row-gap: 75px;
  }
}
.request__title {
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 48px;
  text-align: center;
  position: relative;
}
.request__title::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 85px;
  background: url("../img/logo-icon.svg") no-repeat;
  transform: translate(0, 25%);
}
@media (max-width: 1280px) {
  .request__title {
    font-size: 40px;
  }
}
@media (max-width: 1023px) {
  .request__title {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .request__title {
    font-size: 26px;
  }
  .request__title::after {
    transform: translate(-50%, 25%);
  }
}
.request__body {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
@media (max-width: 1023px) {
  .request__body {
    flex-direction: column;
    row-gap: 30px;
    margin-inline: auto;
  }
}
.request__form {
  display: flex;
  flex-direction: column;
  row-gap: 230px;
}
.request__form-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.request__form-item {
  position: relative;
  font-size: 18px;
}
.request__form-input {
  width: 569px;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #DADADA;
  color: var(--color-dark);
}
@media (max-width: 767px) {
  .request__form-input {
    width: 100% !important;
  }
}
.request__form-input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-accent);
}
.request__form-input:focus ~ .request__form-label, .request__form-input:valid + .request__form-label {
  top: -20px;
  transition-duration: 0.5s;
}
.request__form-label {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-accent);
}
@media (max-width: 767px) {
  .request__form-label {
    font-size: 16px;
  }
}
.request__form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  padding: 25px 90px;
  font-size: 24px;
  color: currentColor;
  background-color: var(--color-light);
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}
.request__form-button:active {
  color: var(--color-light);
  background-color: var(--color-accent);
}
@media (min-width: 1281px) {
  .request__form-button:hover {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
@media (max-width: 1280px) {
  .request__form-button {
    width: 300px;
    height: 60px;
    padding: 10px 60px;
    margin-inline: auto;
    font-size: 22px;
  }
}
@media (max-width: 1023px) {
  .request__form-button {
    height: 55px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .request__form-button {
    height: 45px;
    font-size: 18px;
  }
}
.request__description {
  padding: 50px;
}
@media (max-width: 1023px) {
  .request__description {
    padding: 25px;
  }
}
.request__description-list {
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}
@media (max-width: 1023px) {
  .request__description-list {
    text-align: center;
  }
}
.request__description-text {
  font-size: 24px;
}
@media (max-width: 1280px) {
  .request__description-text {
    font-size: 22px;
  }
}
@media (max-width: 1023px) {
  .request__description-text {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .request__description-text {
    font-size: 18px;
  }
}
.request__footer {
  margin-inline: auto;
}
.request__contacts-list {
  display: flex;
  column-gap: 10px;
}
.request__contacts-link {
  font-size: 24px;
}
@media (max-width: 1280px) {
  .request__contacts-link {
    font-size: 22px;
  }
}
@media (max-width: 1023px) {
  .request__contacts-link {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .request__contacts-link {
    font-size: 18px;
  }
}
.request__contacts-link:hover {
  color: var(--color-accent);
  cursor: pointer;
}

.input__mid {
  margin-bottom: 20px;
}

.input__bottom {
  position: absolute;
  top: 110px;
}

.link__mid {
  color: var(--color-accent);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-inline: auto;
  background-color: var(--color-accent);
}
@media (max-width: 1280px) {
  .footer {
    height: 125px;
  }
}
@media (max-width: 1023px) {
  .footer {
    height: 100px;
  }
}
@media (max-width: 767px) {
  .footer {
    height: 75px;
  }
}
@media (max-width: 1280px) {
  .footer__img {
    width: 55px;
    height: 58px;
  }
}
@media (max-width: 767px) {
  .footer__img {
    width: 50px;
    height: 53px;
  }
}

/*# sourceMappingURL=style.css.map */
